.one {
    width: 400px;
    height: 600px;
    background-color: skyblue;
    span {
        font-size: 14px;
        color: #f00;
    }
    em {
        font-size: 14px;
        color: #00f;
    }
}